{
  "extends": "eslint-config-egg",
  "plugins": [ "html" ],
  "globals": {
    "document": true,
    "$": true,
    "window": true
  },
  "settings": {
      "html/xml-extensions": [".html"]
  },
  "rules": {
    "eol-last": 0
  }
}
